.menu_button__ {
  display: none;

  @include sm {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(#fff, 0.3);
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: rgba($primaryColor, 0.3);

    svg {
      width: 20px;
      
      path {
        fill: rgba($primaryColor, 1);
      }
    }
  }
}

.lang_link__  {
    color: #fff !important;
    font-weight: 600;
    font-size: 16px;
    width: 105px !important;

  .figure__ {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin-inline-end: 10px;
  }
}

.lang__ {
  width: fit-content;
  
}


// large sizes

.toolbar_options__ {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  flex-wrap: nowrap;

  @include dir {
    padding: 0 !important;
  }


  .block__ {
    // transition: 0.5s;
    
    &.notifications_link_item__ {
      max-width: 37px;
      min-height: 49px;
      background-color: rgba($secondaryColor, 0.14);
      position: relative;
      padding: 7px 14px;
      margin-inline-end: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 13px;


      .notification_number__ {
        position: absolute;
        width: 25px;
        height: 25px;
        top: -14px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $redColor;
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 12px;
        text-align: center;
        border: 3px solid #fff;
      }
    }

    &.header_search_input_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      min-width: 37px;
      height: 49px;
      margin-inline-end: 8px;
      background-color: rgba($borderBreakColor, 0.14);
      border: 1px solid rgba($borderBreakColor, 0.14);
      box-shadow: 0 0 60px rgba(#5D5D5D, 0.14);
      border-radius: 13px;
      overflow: hidden;
      transition: 0.5s;

      .icon__ {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 18px;
        height: 18px;
        font-size: 25px;
        transition: 0.5s;
        cursor: pointer;
      }
  
      .header_search_input {
        border: none;
        width: 0;
        display: none;
        background-color: transparent;
        height: 100%;

        &:focus,
        &:active {
          border: none;
          outline: none;
        }
      }


      &.active {
        transition: 2s;
        width: 100%;
        box-shadow: unset;


        .icon__ {
          left: unset;
          transform: unset;
          transform: translateY(-50%);
          inset-inline-start: 26px;
        }


        .header_search_input {
          padding-inline-start: 70px;
          width: 100%;
          min-width: 429px;
          display: block;
        }

        .search_button_icon {
          min-width: fit-content;
          min-height: fit-content;
          left: unset;
          inset-inline-start: 25px;
        }
      }

    }
    
    &.info_link_item__ {
      min-width: 190px;
      height: 49px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      background-color: rgba($primaryColor, 0.11);
      border-radius: 15px;

      @include sm {
        background-color: unset;
      }

      .icon__ {
        margin-inline-end: 15px;
      }

      .user_name__ {
        font-weight: 700;
        margin-inline-start: 5px;
      }

      &:hover {
        border-radius: 15px 15px 0 0 ;
      }
    }

    &.search_mode {
      display: none;
    }

    // &:not(:first-child) {
    //   margin-inline-start: 20px;

    //   @include sm {
    //     margin-inline-start: 4px;
    //   }
    // }
  }

}

// small size 
@include sm {
  .toolbar_options__ {
    margin-top: 20px;
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

    .block__ {
      &.header_search_input_wrapper,
      &.notifications_link_item__ {
        min-width: 45px;
        background-color: rgba(#fff, 0.2);
        justify-content: center;
        order: 3;
  
        .icon__ {
          filter: brightness(0) invert(1);
        }

        .header_search_input {
          color: #fff;
          
          &::placeholder {
            color: #fff;
          }
        }
  
        &.active {
          margin-bottom: 10px;
          min-width: 100% !important;
          flex-basis: max-content;
          justify-content: flex-start;

          .header_search_input {
            width: 100%;
            display: block;

            &::placeholder {
              font-size: 10px;
            }
          }
  
          .icon__ {
            min-width: fit-content;
            min-height: fit-content;
            left: unset;
            inset-inline-start: 35px;

          }
        }
  
      }

      &.notifications_link_item__,
      &.notifications_link_item__ a {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
      
      &.dropdown__ {
        order: 5;
      }

      &.sing_up_blocks_list_item__ {
        width: 100%;
        order: 1;
      }

      &.lang_list_item__ {
        order: 3;
      }

      &.search_mode {
        display: unset;
      }
    }
  }
}

