.home_slider_section__ {
  position: relative;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    border-radius: 0 0 $fifthBorderRadius $fifthBorderRadius;
    overflow: hidden;
  }

  .figure__ {
    position: absolute;
    padding-bottom: 37.5%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
    }
  }

  .img-om {
    transition: 3s all;
    transform: scale(1.3);
    filter: brightness(0.1);
  }

  .swiper-slide-active .img-om {
    animation: scale 8s ease;
  }

  .slider_container__ {
    max-width: 770px;
    margin-top: -15px;
    padding: 0 10px;
  }

  .title__ {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
    animation: 1s ease-out 0s 1 slideFromTop;

    @include sm {
      font-size: 30px;
    }

    @include xs {
      font-size: 18px;
    }

    .site_name__ {
      font-size: 60px;
      color: $primaryColor;

      @include sm {
        font-size: 45px;
      }

      @include xs {
        font-size: 25px;
      }
    }
  }

  .parag__ {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    animation: 1s ease-out 0s 1 slideFromTop;

    @include sm {
      font-size: 18px;
    }

    @include xs {
      font-size: 14px;
    }
  }
}

.about_us_section {
  .parag__ {
    font-size: 16px;
    font-weight: 400;
    color: $paragraphMainColor;
    line-height: 1.9;
    margin-bottom: 30px;

    @include xs {
      font-size: 13px;
    }
  }

  .main_img_wrapper__ {
    position: relative;
    padding: 17px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: $primaryColor;
      border-radius: $fifthBorderRadius;
      width: 125px;
      height: 235px;
      z-index: -1;
    }

    &::after {
      top: 0;
      inset-inline-end: 0;
    }

    &::before {
      bottom: 0;
      inset-inline-start: 0;
    }
  }

  .about_us_photo_figure__ {
    padding-bottom: 63.186%;
    border-radius: $fifthBorderRadius;
    overflow: hidden;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   background-color: rgba(#000, 0.5);
    // }
  }
}

.our_services_section {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap !important;

  // @include xs {
  //   flex-direction: column;
  //   .our_services_block__ {
  //     width: 100% !important;
  //   }
  // }

  // .our_services_block__ {
  //   width: calc(100% / 3);
  // }

  // &:hover {
  //   .our_services_block__ {
  //     width: 30%;
  //     max-width: 40%;

  //     &:hover {
  //       width: 40%;
  //     }
  //   }
  // }
}

.our_team_section__ {
  .col-6 {
    @include xs {
      padding: 5px;
    }
  }
}

.health_care_services_section {
  background-color: rgba($primaryColor, 0.1);

  .slider_content_wrapper__ {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .swiper-slide {
    flex-shrink: 0;
  }
}

.our_partners_section {
  position: relative;
  overflow: hidden;

  .col__ {
    &:nth-child(2),
    &:nth-child(5) {
      transform: translateY(67px);

      @include sm {
        transform: unset;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 320px;
    inset-inline-end: calc(100% - 150px);
    background-color: $primaryColor;
    width: 400px;
    height: 357px;
    transform: rotate(36deg);
    border-radius: $mainBorderRadius;
    box-shadow: -60px -150px 0 rgba($primaryColor, 0.13);
    z-index: -1;

    @include xs {
      inset-inline-end: calc(100% - 50px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 420px;
    inset-inline-start: calc(100% - 150px);
    background-color: $primaryColor;
    width: 400px;
    height: 357px;
    transform: rotate(36deg);
    border-radius: $mainBorderRadius;
    box-shadow: 60px 150px 0 rgba($primaryColor, 0.13);
    z-index: -1;

    @include xs {
      inset-inline-start: calc(100% - 50px);
      top: 700px;
    }
  }
}

.our_customers_opinions_section {
  .cards_wrapper__ {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 33px;
      inset-inline-start: -20px;
      width: 35%;
      height: calc(100% - 66px);
      border-radius: $secondaryBorderRadius;
      background-color: $primaryColor;
      z-index: -1;

      @include sm {
        width: 70%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 33px;
      inset-inline-start: calc(50% - 20px);
      inset-inline-start: 50%;
      width: 35%;
      height: calc(100% - 66px);
      border-radius: $secondaryBorderRadius;
      background-color: $primaryColor;
      z-index: -1;

      @include sm {
        display: none;
      }
    }
  }
}
