.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $primaryColor;
  padding-top: 80px;
  padding-bottom: 0;

  @include xs {
    padding-top: 30px;
  }
}

.footer_content__ {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 20px;
  gap: 65px;

  @include md {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  @include xs {
    padding: 0;
  }
}

.footer_logo__ {
  margin-bottom: 5px;

  .figure__ {
    margin: 0 auto;
    max-width: 198px;
    width: 198px;
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.footer_parag__ {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.footer_block_head__ {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
  width: fit-content;

  @include xs {
    font-size: 18px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: calc(100% + 15px);
    border-radius: 5px;
    height: 7px;
    transition: 0.5s;
  }

  &::before {
    inset-inline-start: 0;
    width: 70%;
  }

  &::after {
    inset-inline-start: calc(70% + 5px);
    width: 17px;
  }

  @include md {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer_location_parag__ {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: flex-start;

  @include xs {
    font-size: 14px;
    text-align: center;
  }
  
  .icon__ {
    filter: brightness(0) invert(1);
  }
  
  .parag_content__ {
    @include xs {
      text-align: center;
    }    
  }

}

.footer_list__ {
  padding: 0;
  width: 100%;

  @include xs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
  // @include xxs {
  //   grid-template-columns: repeat(1, 1fr);
  // }

  li {
    width: 100%;
    display: flex;

    @include xs {
      justify-content: center;
    }

    @include xs {
      width: 50%;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  a {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 8px;

    @include sm {
      justify-content: center;

      @include dir {
        font-size: 12px;
      }
    }

    @include xs {
      font-size: 14px;
      justify-content: flex-start;
    }

    &:hover {
      padding-inline-start: 10px;
      color: $secondaryColor;
    }

    &::before {
      content: "";
      width: 13px;
      height: 13px;
      background-color: rgba(#fff, 0.1);
      transform: rotate(45deg);

    }
  }
}

.fotter_links_block__ {
  flex-shrink: 0;
}

.footer_head_title__ {
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 23px;
}

.news_mail_title__ {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;

  @include xs {
    font-size: 16px;
    text-align: center;
  }
}

.news_mail_input__wrapper__ {
  background-color: #fff;
  display: flex;
  min-width: 398px;
  border-radius: 100px;
  padding: 6px;
  height: 53px;

  @include xs {
    min-width: 100%;
  }

  .input__ {
    padding: 20px;
  }

  .input__,
  .submit-button__ {
    height: 100%;
  }

  .submit-button__ {
    width: 95px;
    border-radius: 100px;
  }
}

.footer_banks_icons_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 55px;
  padding: 22px;
  width: 100%;
  border-radius: $fifthBorderRadius $fifthBorderRadius 0 0;
  background-color: rgba(#fff, 0.2) !important;


  @include sm {
    margin-top: 35px;
  }

  @include sm {
    margin-top: 20px;
  }

  .icon__ {
    max-width: 66px;
    max-height: 36px;
  }
}
