@import "header/dropdown";
@import "header/login_buttons";
@import "header/1_logo";
@import "header/2_navbar";
@import "header/toolbar_options";

.main_header__ {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.fixed_header__ {
  background-color: transparent;
  position: absolute;
  z-index: 111;
  padding-top: 15px;
  top: 50px;
  left: 0;
  width: 100%;
  // background-color: #fff;
  
  
  @include xxs {
    padding: 10px 0;
  }
  
  &.active_menu__,
  &.not_active_menu__ {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 111;
    // transition: 0s;
    // box-shadow: 0 0 40px rgba($color: #000000, $alpha: 0.05);
    
    // .header_logo__ {
      //   filter: brightness(0) invert(1);
      // }
    }
    
    &.active_menu__ {
      background-color: #fff;
      box-shadow: 0 0 30px rgba(#acacac , 0.15);

      .nav-om {
        .nav-list-om {
          >li {
            >a {
              color: $primaryColor;

              &::after , 
              &::before {
                background-color: $primaryColor !important;
              }
            }
          }
        }
      }

      .header_booking_link__ {
        border: 1px solid $primaryColor;
      }
      // animation: active-menu 0.5s;
      // background-color: $primaryColor;
      // padding: 10px 0 !important;
    }
    
    &.not_active_menu__ {
    // background-color: transparent;
    // animation: not-active-menu 0.5s;
    // transform: translateY(-100%);
    // top: -200px;
  }
}

.header_content__ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_header__ {  
  background-color: $primaryColor;
  .lang_wrapper__ {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
}

@keyframes active-menu {
  0% {
    // transform: translateY(-100%);
    top: -200px;
  }

  100% {
    // transform: translateY(0);
    top: 0;
  }
}

@keyframes not-active-menu {
  0% {
    // transform: translateY(0);
    top: 0;
  }

  100% {
    // transform: translateY(-100%);
    top: -200px;
  }
}

