// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: transparent;
  border: none;
  position: relative !important;
  padding: 0;
  
  &.swiper-button-disabled {
    background-color: transparent;
    &::after {
      content: url("../images/shapes/slider_arrow.svg");
      filter: unset;
      opacity: 0.5;
    }
  }
  
  &::after {
    content: url("../images/shapes/slider_arrow.svg");
    display: block;
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    right: unset !important;
    right: unset !important;
    transform: translate(-50%,-50%) !important;
    opacity: 1;

    @include dir {
      transform: translate(-50%,-50%) rotate(180deg) !important;
    }
  }

  &.swiper-button-next {
    &::after {
      transform:translate(-50%, -50%) scaleX(-1) !important;

      @include dir {
        transform: translate(-50%,-50%) scaleX(-1) rotate(180deg) !important;
      }

    }
  }
  // health_care_services_swiper_button
  &.health_care_services_swiper_button {


    @include xs {
      display: none !important;
    }
  }
}


// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  margin-top: 15px;
  // margin-inline-start: 144px;
  gap: 3px;
  width: 100%;

  &.intro_pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    
    @include sm {
      margin-top: 20px;
      max-width: 100%;
    }
  }

  &.fit_content_width__ {
    width: fit-content;
  }

  &.health_care_services_swiper_pagination {
    display: none; 

    @include xs {
      display: flex ;
      margin-top: 20px;
    }
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  border-radius: 50%;
  background-color: rgba($primaryColor, 0.27);
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 !important;
  
  &.swiper-pagination-bullet-active {
    background-color: $primaryColor;
  }
}

// ###################################################################

.arrow-sec {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  height: 40px;
  padding: 0 !important;
  gap: 0px;

  @include dir {
    gap: 30px;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    bottom: unset !important;
    top: unset !important;
    transform: unset !important;
  }
  
  &.center__ {
    justify-content: center;
  }

  &.with_margin_bottom__ {
    margin-bottom: 30px;
  }
}

// ###################################################################
.arrow_pagination_wrapper__ {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: 10;
}