.our_team_card__ {
  border-radius: 1000px 1000px $thirdBorderRadius $thirdBorderRadius;
  box-shadow: $mainShadowColor;
  .img_wrapper__ {
    padding-top: 12px;
    padding-inline-start: 15px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      inset-inline-start: 0;
      background-color: $primaryColor;
      width: calc(100% - 12px);
      height: calc(100% - 15px);
      border-radius: 20px 100px 20px 100px;
      overflow: hidden;
      z-index: -1;
    }
  }

  .figure__ {
    padding-bottom: 119.209%;
    border-radius: 20px 100px 20px 100px;
    overflow: hidden;
  }

  .description_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    flex-wrap: wrap;
    gap: 11px;
    text-align: center;
    justify-content: center;


    @include xs {
      padding: 10px !important;
    }
  }

  .title__ {
    font-size: 20px;
    font-weight: 700;
    color: $headingMainColor;
    margin: 0;
    
    
    @include xs {
      font-size: 13px;
    }
  }
  
  .sub_title__ {
    font-size: 16px;
    font-weight: 600;
    color: $paragraphMainColor;
    margin: 0;
    
    @include xs {
      font-size: 10px;
    }
  }

  &:hover {
    .img-om {
      transform: scale(1.1);
    }
  }
}
